/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*UTILS*/
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

img {
	max-width: 100%;
}

/*MAIN*/

.products > .container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	gap: 2rem;
}

.products .product-card {
	flex: 1 0 30%;
	position: relative;
}

.heart {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	background-color: white;
	margin-top: 5px;
}

.product-discount {
	position: absolute;
	bottom: 23%;
	left: 0%;
	background-color: red;
	padding: 5px;
	color: white;
}

.sostenibilità {
	position: absolute;
	bottom: 23%;
	left: 16%;
	background-color: green;
	padding: 5px;
	color: white;
	font-size: 1rem;
}

.costo {
	color: red;
}

.sostenibilità:only-child {
	position: absolute;
	bottom: 23%;
	left: 0%;
}
