/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*UTILS*/
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
	display: inline-block;
	padding-right: 15px;
}

i {
	padding-right: 10px;
}

.marca {
	font-size: 0.9rem;
}

.descrizione {
	font-size: 1rem;
	font-weight: bold;
}

/*HEADER*/
.header-container {
	background-color: rgb(255, 105, 0);
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 110px;
}

.header-item {
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

.header-logo {
	height: 21.6px;
}

/*MAIN*/

.products > .container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	gap: 2rem;
	margin: 50px auto;
}

.products .product-card {
	flex: 1 0 30%;
	position: relative;
}

.heart {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	background-color: white;
	margin-top: 5px;
}

.product-discount {
	position: absolute;
	bottom: 23%;
	left: 0%;
	background-color: red;
	padding: 5px;
	color: white;
	font-weight: bold;
}

.sostenibilità {
	position: absolute;
	bottom: 23%;
	left: 16%;
	background-color: green;
	padding: 5px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.costo {
	display: flex;
}

.costo-scontato {
	color: red;
	margin-right: 10px;
	font-weight: bold;
}

.costo-reale {
	color: red;
}

.sostenibilità:only-child {
	position: absolute;
	bottom: 23%;
	left: 0%;
}

.product-card .product-image .add-to-cart {
	display: none;
	background-image: url(../img/1b.webp);
	height: 440.83px;
	background-size: contain;
}

.product-card:hover .product-image .add-to-cart {
	display: block;
}
.product-card:hover .product-image .levis {
	display: none;
}

.product-card .product-guess .guess-cart {
	display: none;
	background-image: url(../img/2b.webp);
	height: 440.83px;
	background-size: contain;
}

.product-card:hover .product-guess .guess-cart {
	display: block;
}
.product-card:hover .product-guess .guess {
	display: none;
}

.product-card .product-pastello .add-pastello {
	display: none;
	background-image: url(../img/3b.webp);
	height: 440.83px;
	background-size: contain;
}

.product-card:hover .product-pastello .add-pastello {
	display: block;
}
.product-card:hover .product-pastello .pastello {
	display: none;
}

/*FOOTER*/

.footer-container {
	background-color: black;
	height: 100px;
	display: flex;
	justify-content: space-around;
	padding: 30px 30px;
}

.footer-item {
	color: white;
	padding-bottom: 10px;
}

.Boolando {
	font-weight: bold;
	font-size: 1.3rem;
}
